<h2 id="<%= dom_id status_update %>">
  <% if status_update.previous_status.present? %>
    <%= status_update.previous_status.humanize %>
    => <%= status_update.status.humanize %>
  <% else %>
    <%= status_update.status.humanize %>
  <% end %>
</h2>
